h1 {color: #14a76c; text-align: center;}
body {background-color: #272727;
color: #14a76c;
}
.pp {max-width: 300px;
max-height: 300px;}

span.navigation2 {
    color: #64CCC5;
    background-color: #272727;

}

.opener{text-align: center;}
.flex1{display: flex; justify-content: left;align-items: center; gap: 200px;}

.flex2{background-color: #272727; width: fit-content; border-radius: 10px;align-items: right; float: right; border-style: solid;}

@media only screen and (min-width: 768px) {nav.navb
     {display:none;} }
     
    @media only screen and (max-width: 767px) { span {display: none;}
        }    
nav a{color: #ffe400;
    background-color: #272727;}
nav a:hover{background-color: #0802A3;}

.navigation

nav {padding: 10px;
margin-bottom: 30px;}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFE4E1;
    color: black;
    text-align: center;
  }
  
  .skip { 
    background-color: #fff;
    padding: 5px;
    border: 1px solid #000;
    text-decoration: none;
    position:  absolute; /* posisitions an element relative to the top left corner of the screen */
    top: 10px;
    left: -999px; /* push of the left side */
}
