body {background-color:#272829;
color: #61677A;
}
a {color:#04364A}

h1{color:#176B87}

nav a{color: #64CCC5;
    background-color: #FF4B91;}
nav a:hover{background-color: #0802A3;}

nav {padding: 10px;
margin-bottom: 30px;}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFE4E1;
    color: black;
    text-align: center;
  }

